<div class="p-4 bg-white shadow">
    <div class="flex flex-col md:flex-row items-center justify-center gap-4">
        <input type="text" placeholder="Pesquisar pelo nome do local"
            class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus focus:ring-blue-400">
        <select name="" id=""
            class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus focus:ring-blue-400">

            <option [value]="">Todas Categorias</option>
            @for (cat of categorias; track $index) {
            <option [value]="cat.nome"> {{ cat.nome }} </option>
            }
        </select>
    </div>
</div>

<div id="lugaresLista" class=" p-4 grid  grid-col-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (lugar of lugares; track $index) {
    <div class="bg-white shadow rounded overflow-hidden">
        <img [src]="lugar.imagemUrl" [alt]="lugar.nome" class="w-full h-40 object-cover">
        <div class="p-4">
            <h2 class="text-lg font-semibold"> {{ lugar.nome }} </h2>
            <p class="text-gray-500">Categoria: <span class="text-blue-600"> {{lugar.categoria}} </span></p>
            <p class="text-gray-500">Localização: {{lugar.localizacao}} </p>
            <div class="mt-2 flex items-center">
                <span class="text-yellow-500" [innerHTML]="getTotalEstrelas(lugar)" ></span>
                <span class="ml-2 text-gray-600"> {{lugar.avaliacao}} </span>
            </div>
        </div>
    </div>
}
</div>