<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-3xl text-center font-semibold text-gray-700 mb-4">Nova Categoria</h2>
    <form id="categoriaForm" [formGroup]="camposForm" (ngSubmit)="salvarCategoria()">
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Nome</label>
            <input type="text" id="nome" name="nome" formControlName="nome"
                placeholder="Ex: Restaurantes, Praias, Lojas"
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus focus:ring-blue-400"
                required>
            @if (isCampoInvalido('nome')) {
            <span class="text-red-500 text-sm">Campo obrigatório</span>
            }
        </div>
        <hr>
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Nome</label>
            <textarea rows="4" id="descricao" name="descricao" formControlName="descricao"
                placeholder="Descrição da categoria"
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outiline-none focus focus:ring-blue-400"
                required>
            </textarea>
            @if (isCampoInvalido('descricao')) {
            <span class="text-red-500 text-sm">Campo obrigatório</span>
            }
        </div>
        <div class="flex justify-center mt-5">
            <button type="submit" class="w-40 bg-blue-500 text-white p-3 rounded hover:bg-blue-600 transition-colors">
                Salvar
            </button>
            <button type="button"
                class="w-40 ml-10 bg-blue-500 text-white p-3 rounded hover:bg-blue-600 transition-colors"
                (click)="resetarCampos()">
                Limpar
            </button>
        </div>
    </form>
</div>