<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-3xl text-center font-semibold text-gray-700 mb-4">Nova Categoria</h2>
    <form id="categoriaForm" [formGroup]="camposForm" (ngSubmit)="salvarCategoria()">
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Nome</label>
            <input type="text" id="nome" name="nome" formControlName="nome"
                placeholder="Ex: Restaurantes, Praias, Lojas"
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400 focus:outline-none"
                required />
            @if (isCampoInvalido('nome')) {
            <span class="text-red-500 text-sm">Campo obrigatório</span>
            }
        </div>
        <hr class="my-4">
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Descrição</label>
            <textarea rows="4" id="descricao" name="descricao" formControlName="descricao"
                placeholder="Descrição da categoria"
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400 focus:outline-none"
                required></textarea>
            @if (isCampoInvalido('descricao')) {
            <span class="text-red-500 text-sm">Campo obrigatório</span>
            }
        </div>
        <div class="flex justify-center mt-5 gap-6">
            <button type="submit" [disabled]="!camposForm.valid"
                class="w-40 bg-blue-500 text-white p-3 rounded transition-colors hover:bg-blue-600 disabled:cursor-not-allowed disabled:opacity-50">
                Salvar
            </button>
            <button type="button" class="w-40 bg-gray-400 text-white p-3 rounded hover:bg-gray-500 transition-colors"
                (click)="resetarCampos()">
                Limpar
            </button>
        </div>
    </form>
</div>