// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.snackbar-success,
.snackbar-success .mdc-snackbar__surface,
.snackbar-success .mat-mdc-snack-bar-container {
  background-color: #1bd343 !important;
}

.snackbar-success .mat-mdc-snack-bar-label,
.snackbar-success .mdc-snackbar__label,
.snackbar-success .mat-mdc-button,
.snackbar-success .mdc-button__label {
  color: white !important;
}

.snackbar-error,
.snackbar-error .mdc-snackbar__surface,
.snackbar-error .mat-mdc-snack-bar-container {
  background-color: #ef4444 !important;
}

.snackbar-error .mat-mdc-snack-bar-label,
.snackbar-error .mdc-snackbar__label,
.snackbar-error .mat-mdc-button,
.snackbar-error .mdc-button__label {
  color: white !important;
}

.snackbar-warning,
.snackbar-warning .mdc-snackbar__surface,
.snackbar-warning .mat-mdc-snack-bar-container {
  background-color: #da9113 !important;
}

.snackbar-warning .mat-mdc-snack-bar-label,
.snackbar-warning .mdc-snackbar__label,
.snackbar-warning .mat-mdc-button,
.snackbar-warning .mdc-button__label {
  color: white !important;
}
            
.snackbar-info,
.snackbar-info .mdc-snackbar__surface,
.snackbar-info .mat-mdc-snack-bar-container {
  background-color: #3b82f6 !important;
}

.snackbar-info .mat-mdc-snack-bar-label,
.snackbar-info .mdc-snackbar__label,
.snackbar-info .mat-mdc-button,
.snackbar-info .mdc-button__label {
  color: white !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 8px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
  min-width: 300px !important;
}